// snippet "Tokens"
:root {
    --button-background: #3498db;
    --button-color: #ffffff;
    --button-error-background: #2ecc71;
    --button-error-color: #ffffff;
    --button-error-hover-background: #2ecc71;
    --button-error-hover-color: #ffffff;
    /* secondary */
    --button-secondary-background: #2ecc71;
    --button-secondary-color: #ffffff;
    --button-secondary-error-background: #2ecc71;
    --button-secondary-error-color: #ffffff;
    --button-secondary-error-hover-background: #2ecc71;
    --button-secondary-error-hover-color: #ffffff;
    /* … other design tokens */
}
// snippet